.box {
  background-color: #fef6e4;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  padding: 30px;
}

.pizza-beige {
  background-color: #f5f5dc;
  color: #333;
  border-radius: 6px;
}

.pizza-red {
  background-color: #b22222;
  color: #fff;
  border-radius: 6px;
  font-weight: bold;
  text-transform: none;
}

.pizza-red:hover {
  background-color: #a21d1d;
}
