@{
    ViewData["Title"] = "Rekord nie istnieje";
}

<h2>Rekord nie istnieje</h2>

<div class="alert alert-warning">
    @ViewBag.Message
</div>

<a asp-action="Index" class="btn btn-primary">Powrót do listy</a>
